.cardContainer {
    width: 100%;
}

.cardContainer:hover {
    cursor: pointer;
}

.imageContainer {
    display: block;
    position: relative;
    width: 100%;
    height: 12rem;
}

.image {
    object-fit: cover;
}

.image:hover {
    opacity: 0.8;
}


.title {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}